.msg {
  width: 90%;
  margin: 0 auto;
  padding: 20% 0;
  text-align: center;
}

.msg-done {
  width: 90%;
  margin: 0 auto;
  padding: 15% 0;
  text-align: center;
}

.msg-done i {
  color: green;
}

.list {
  width: 90%;
  margin: 0 auto;
}

.btn {
  display: block;
  margin-top: 8px;
}
