<div class="msg" *ngIf="!activeTask">
  <h1>No Active Tasks</h1>
</div>
<div class="msg-done" *ngIf="activeTask && activeTask.done">
  <h1><i class="material-icons large">check_circle</i></h1>
  <h1>{{activeTask.title}} Done!</h1>
  <a class="waves-effect green btn" (click)="startTimer()">Restart Timer</a>
  <a class="waves-effect waves-light btn" (click)="deactiveTask()">Deactive Task</a>
</div>
<div class="list" *ngIf="activeTask && !activeTask.done">
  <h1>Time Left {{timer}}</h1>
  <h2>Current Task: {{activeTask.title}}</h2>
  <a class="waves-effect green btn" *ngIf="!clock" (click)="startTimer()">Start Timer</a>
  <a class="waves-effect red btn" *ngIf="clock" (click)="stopTimer()">Stop Timer</a>
  <a class="waves-effect waves-light btn" (click)="deactiveTask()">Deactive Task</a>
</div>
